.reportview-data {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  tbody {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  tr {
    display: flex;
    width: 50%;
    td {
      width: 50%;

      &:first-child {
        font-weight: 700;
        text-align: right;
        margin-right: 1rem;
      }
    }
  }

  canvas {
    max-width: 50%;
  }
}

h2 {
  min-width: 100%;
}
