.reportview-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ratings {
  display: flex;

  h1 {
    margin-bottom: 0;
  }

  .rating-small {
    margin-top: 0;
    font-size: 0.75em;
  }
}

.rating {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 1em;
  width: 175px;
  height: 175px;

  p {
    margin: auto;
  }
}
