.card {
  min-width: 300px;
  max-width: 15vw;
  min-height: 200px;
  max-height: 16vh;
  margin: 1em;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  .card-top {
    padding: 10px;
    background-color: #4af3d1;
    flex-grow: 1;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  h2 {
    font-weight: 700;
    margin: 0;
  }

  h3 {
    font-weight: 400;
    margin: 0;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    p {
      margin: 0;
    }
  }
}
