nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;

  a {
    text-decoration: none;
  }
}

.button {
  padding: 1em;
  p {
    margin: 0;
  }
}

.nav-left {
  display: flex;

  input {
    font-size: 1em;
    outline: none;
    font-weight: 700;
    font-family: inherit;
    width: 20em;
    transition: .3s;
    border: none;

    &:focus {
      width: 30em;
      &::placeholder {
        color: transparent;
      }
    }

    // &::placeholder {

    // }
  }
}

.nav-right {
  justify-content: center;
}
