nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 75px;

  a {
    text-decoration: none;
  }
}

.button {
  padding: 1rem;
  p {
    margin: 0;
  }
}

.nav-left {
  display: flex;
  column-gap: 1rem;

  input {
    font-size: 1rem;
    outline: none;
    font-weight: 700;
    font-family: inherit;
    width: 20rem;
    transition: .3s;
    border: none;
    padding: 0;

    &:focus {
      width: 25rem;
      &::placeholder {
        color: transparent;
      }
    }
  }

  form, a {
    margin-right: 1rem;
  }
}

.nav-right {
  justify-content: center;
}
